# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Prisma local artifacts
/prisma/.env
/prisma/*.db
/prisma/*.db-journal

# Prisma generated clients
/src/generated/prisma
/prisma/src/generated/prisma
